@font-face {
  font-family: 'robotomono_nfmedium';
  src: url('roboto_mono_medium_nerd_font_complete_mono_windows_compatible-webfont.woff2') format('woff2'),
       url('roboto_mono_medium_nerd_font_complete_mono_windows_compatible-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}

* {
  font-family: robotomono_nfmedium, monospace;
}

#orig{
  animation: type 2s linear; 
}

#title{
  animation: type2 3s linear;
}

#item1{
  animation: type2 4s linear; 
}

#item2{
  animation: type2 5s linear;
}

#item3{
  animation: type2 6s linear;
}

#item4{
  animation: type2 7s linear;
}

body{
    background: #000;
    padding-top: 10px;
  } 
  
p {
    color: lime; 
    font-size: 20px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow:hidden;
    width: 30em;

  }
  
  p a{
    color: lime;
    text-decoration: none;
  }
  
  span{
    animation: blink 1s linear infinite;
  }
  
li{
  color: lime;
}

img{
    margin: 4em auto 20px;
    display: block;

}