@keyframes move {
    0% {
        margin-top: 0%;
        margin-left: 0%;
        background: blue;
        border-radius: 150px;
    }

    10%{

    }

    20%{
        
    }

    30%{
        
    }

    40%{
        
    }

    50%{
        
    }

    60%{
        
    }

    70%{
        
    }

    80%{
        
    }

    90%{
      
    }
    
    100%{
        
    }
}

#circle{
    position:absolute;
    width: 8em;
    height: 8em;
    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
    animation: move 40s ease-in-out infinite alternate;
    filter: blur(.5em);
  }

.column{
    margin-top: 2%;
    float: left;
}

.left{
    width: 25%;
}

.right{
    width: 75%;
}

.content{
    padding-left: 5%;
}

.menu a{
    background-color: #52FFB8;
    color: #312F2F;
    position: relative;
    font-size: 150%;
    transition: 150ms;
    padding: 10%;
    display: block;
    text-decoration: none;

}

.menu a:hover{
    font-size: 250%;
    width: 120%;
    margin: 0, -.4%;
    transition: 150ms;
    background-color: #3cbe88;
}

.menu a:active{
    background-color: #2b8861;

}

body {
    background-color: #d8fbfa;
}
